@import "tailwindcss";


@theme inline {
  --color-primary: #6366F1;
  --color-secondary: #1e2939;
  --color-accent: #f9fafb ;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #6366f1; /* indigo-500 */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4f46e5; /* indigo-600 */
}

@layer components {
  .hover-animation {
    background: linear-gradient(90deg, #6366F1 50%, black 50%);
    background-size: 200% 100%;
    transition: background-position 0.5s ease-in-out;
  }

  .hover-animation:hover {
    animation: slideIn 0.5s forwards;
  }
}

@keyframes slideIn {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}


